.container1{
    border: solid black;
    padding: 20px;
    margin: 5%;
    background-color: rgb(11, 112, 201);
}
.container{
    border: dotted green;
    padding: 20px;
    margin: 5%;
    background-color: aqua;
  
}  







